TD {
	FONT-SIZE: 9pt; COLOR: #787878; WORD-BREAK: break-all; LINE-HEIGHT: 15pt; FONT-FAMILY: arial,Dotum
}
.td {
	FONT-SIZE: 9px; COLOR: #787878; WORD-BREAK: break-all; LINE-HEIGHT: 15pt; FONT-FAMILY: arial,Dotum
}
.td1 {
	FONT-SIZE: 9px; COLOR: #787878; WORD-BREAK: break-all; LINE-HEIGHT: 15pt; FONT-FAMILY: arial,Dotum
}
.td2 {
	FONT-SIZE: 9pt; COLOR: #444444; WORD-BREAK: break-all; LINE-HEIGHT: 15pt; FONT-FAMILY: arial,Dotum
}
.info1 {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: arial,Dotum
}
.info2 {
	FONT-SIZE: 11px; COLOR: #444444; FONT-FAMILY: arial,Dotum
}
.info3 {
	FONT-SIZE: 9px; COLOR: #787878
}
.copy {
	FONT-SIZE: 11px; COLOR: #888888
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.pad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.bg04_01 {
	BACKGROUND-COLOR: #97cc6b
}
.bg04_02 {
	BACKGROUND-COLOR: #f2fde9
}
.bg04_03 {
	BACKGROUND-COLOR: #9dd379
}
.bg04_04 {
	BACKGROUND-COLOR: #f6ffee
}
.bg04_05 {
	BACKGROUND-COLOR: #c6e7a2
}
.ceo {
	FONT-SIZE: 9pt; COLOR: #787878; WORD-BREAK: break-all; LINE-HEIGHT: 20px; FONT-FAMILY: arial,Dotum; TEXT-ALIGN: justify
}
.pink {
	FONT-WEIGHT: bold; COLOR: #c7338f
}
.font {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: dotum
}
.font01 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: dotum
}
.font02 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #666666; FONT-FAMILY: dotum
}
.font03 {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: dotum
}
.font04 {
	FONT-SIZE: 8pt; FONT-FAMILY: dotum
}
.popup {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #0072bc; FONT-FAMILY: dotum
}
.popup01 {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: dotum
}
SELECT {
	FONT-SIZE: 9pt; COLOR: #414141; BACKGROUND-COLOR: #ffffff
}
INPUT {
	BORDER-RIGHT: #cfcbc8 1px solid; BORDER-TOP: #cfcbc8 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cfcbc8 1px solid; BORDER-BOTTOM: #cfcbc8 1px solid; FONT-FAMILY: arial,Dotum; BACKGROUND-COLOR: #ffffff
}
.input {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.input02 {
	BORDER-RIGHT: #f8f8f8 1px solid; BORDER-TOP: #f8f8f8 1px solid; BORDER-LEFT: #f8f8f8 1px solid; BORDER-BOTTOM: #f8f8f8 1px solid
}
.input01 {
	
}
.ckeck {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT: 9pt Dotum; BORDER-LEFT: #ffffff 1px solid; COLOR: #555555; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff
}
.ckeck01 {
	BORDER-RIGHT: #626262 1px solid; BORDER-TOP: #626262 1px solid; PADDING-LEFT: 5px; FONT: 9pt Dotum; BORDER-LEFT: #626262 1px solid; COLOR: #555555; BORDER-BOTTOM: #626262 1px solid; BACKGROUND-COLOR: #626262
}
.form00 {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: 9pt/1.5 Dotum; BORDER-LEFT: #dddddd 1px solid; COLOR: #555555; PADDING-TOP: 5px; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #ffffff
}
.form01 {
	BORDER-RIGHT: #dbd4b6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dbd4b6 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; FONT: 9pt Dotum; BORDER-LEFT: #dbd4b6 1px solid; COLOR: #555555; PADDING-TOP: 0px; BORDER-BOTTOM: #dbd4b6 1px solid; BACKGROUND-COLOR: #f7f6ef
}
.form01 {
	BORDER-RIGHT: #dbd4b6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dbd4b6 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; FONT: 8pt Dotum; BORDER-LEFT: #dbd4b6 1px solid; COLOR: #555555; PADDING-TOP: 0px; BORDER-BOTTOM: #dbd4b6 1px solid; BACKGROUND-COLOR: #f7f6ef
}
.inputimage {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; BORDER-LEFT: #ffffff 0px solid; BORDER-BOTTOM: #ffffff 0px solid
}
.input03 {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; BORDER-LEFT: #ffffff 0px solid; BORDER-BOTTOM: #ffffff 0px solid
}
TEXTAREA {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #dddddd 1px solid; COLOR: #555555; LINE-HEIGHT: 1.5; PADDING-TOP: 5px; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: Dotum
}
.textarea01 {
	BORDER-RIGHT: #fbf8f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fbf8f3 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #fbf8f3 1px solid; COLOR: #555555; LINE-HEIGHT: 1.5; PADDING-TOP: 5px; BORDER-BOTTOM: #fbf8f3 1px solid; FONT-FAMILY: Dotum
}
.textarea {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 5px; SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; SCROLLBAR-HIGHLIGHT-COLOR: #e8e8e8; BORDER-LEFT: #e8e8e8 1px solid; SCROLLBAR-SHADOW-COLOR: #e8e8e8; COLOR: #555555; SCROLLBAR-3DLIGHT-COLOR: #ffffff; LINE-HEIGHT: 1.5; SCROLLBAR-ARROW-COLOR: #e8e8e8; PADDING-TOP: 5px; SCROLLBAR-TRACK-COLOR: #ffffff; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: Dotum; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
.ifraem {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 5px; SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; SCROLLBAR-HIGHLIGHT-COLOR: #e8e8e8; BORDER-LEFT: #e8e8e8 1px solid; SCROLLBAR-SHADOW-COLOR: #e8e8e8; COLOR: #555555; SCROLLBAR-3DLIGHT-COLOR: #ffffff; LINE-HEIGHT: 1.5; SCROLLBAR-ARROW-COLOR: #e8e8e8; PADDING-TOP: 5px; SCROLLBAR-TRACK-COLOR: #ffffff; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: Dotum; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
A:link {
	FONT-SIZE: 9pt; COLOR: #444444; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #444444; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #444444; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #444444; TEXT-DECORATION: underline
}
.main:link {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.main:visited {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.main:active {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.main:hover {
	FONT-SIZE: 9pt; COLOR: #444444; TEXT-DECORATION: none
}
.site:link {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.site:visited {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.site:active {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.site:hover {
	FONT-SIZE: 9pt; COLOR: #444444; TEXT-DECORATION: underline
}
.prov:link {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.prov:visited {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.prov:active {
	FONT-SIZE: 9pt; COLOR: #787878; TEXT-DECORATION: none
}
.prov:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff9200; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.prov01 {
	FONT-WEIGHT: bold; COLOR: #ff9200
}
.prov02 {
	FONT-WEIGHT: bold; COLOR: #ff9c00
}
.prov03 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
.prov04 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; PADDING-TOP: 3px
}
.prov05 {
	COLOR: #444444
}
.pad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.bg01_00 {
	BACKGROUND-COLOR: #97dce0
}
.bg01_01 {
	BACKGROUND-COLOR: #c8edf3
}
.bg01_02 {
	BACKGROUND-COLOR: #eefcff
}
.bg01_03 {
	COLOR: #00a5b9
}
.bg01_04 {
	BACKGROUND-COLOR: #ffffff
}
.bg01_05 {
	BACKGROUND-COLOR: #f9feff
}
.bg01_06 {
	COLOR: #79b500
}
.bg01_07 {
	BACKGROUND-COLOR: #e9fbfb
}
.bg02_00 {
	BACKGROUND-COLOR: #94cdef
}
.bg02_01 {
	BACKGROUND-COLOR: #bee1f6
}
.bg02_02 {
	BACKGROUND-COLOR: #ebf7fc
}
.bg02_03 {
	COLOR: #3393cd
}
.bg02_04 {
	BACKGROUND-COLOR: #ffffff
}
.bg02_05 {
	BACKGROUND-COLOR: #f4fbfe
}
.bg02_06 {
	COLOR: #694fec
}
.bg02_07 {
	BACKGROUND-COLOR: #f4fbfe
}
.bg03_00 {
	BACKGROUND-COLOR: #7cbdd1
}
.bg03_01 {
	BACKGROUND-COLOR: #b9dee7
}
.bg03_02 {
	BACKGROUND-COLOR: #edfbfe
}
.bg03_03 {
	COLOR: #03a1c8
}
.bg03_04 {
	BACKGROUND-COLOR: #ffffff
}
.bg03_05 {
	BACKGROUND-COLOR: #f8feff
}
.bg03_06 {
	COLOR: #694fec
}
.bg03_07 {
	BACKGROUND-COLOR: #e9fbfb
}
.bg05_00 {
	BACKGROUND-COLOR: #9dd379
}
.bg05_01 {
	BACKGROUND-COLOR: #c6e7a2
}
.bg05_02 {
	BACKGROUND-COLOR: #f6ffee
}
.bg05_03 {
	COLOR: #426934
}
.bg05_04 {
	BACKGROUND-COLOR: #ffffff
}
.bg05_05 {
	BACKGROUND-COLOR: #f8feff
}
.bg05_06 {
	COLOR: #694fec
}
.bg05_07 {
	BACKGROUND-COLOR: #e9fbfb
}
.bg04_01 {
	BACKGROUND-COLOR: #97cc6b
}
.bg04_02 {
	BACKGROUND-COLOR: #f2fde9
}
.bg04_03 {
	BACKGROUND-COLOR: #f6ffee
}
.bg04_04 {
	BACKGROUND-COLOR: #9dd379
}
.bg04_05 {
	BACKGROUND-COLOR: #c6e7a2
}
